.game-grid-item {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
}

.game-grid-item {
  margin: .5em;
  border: 1px solid #dee2e6;
}
  .game-grid-item-top,
  .game-grid-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  img {
      width: 75%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 2rem 0;
  }

  .game-grid-item-content {
      text-align: center;
  }

  .game-price {
      font-size: 1.5rem;
      font-weight: 600;
  }
