<div class="p-container">
  <p-table [value]="games">
    <ng-template pTemplate="header">
      <tr>
        <th>title</th>
        <th>description</th>
        <th>image</th>
        <th>genres</th>
        <th>score</th>
        <th>Options</th>
        <th><button routerLink="/games/new" pButton type="button" icon="pi pi-fw pi-plus" class="p-button p-button-icon"></button></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-game>
      <tr>
        <td routerLink="/games/{{game._id}}" class="game-table-title"><b>{{game.title}}</b></td>
        <td>{{game.description}}</td>
        <td>{{game.image}}</td>
        <td>{{game.genre}}</td>
        <td>{{game.score}}</td>
        <td>
          <div class="container">
            <button pButton type="button" icon="pi pi-fw pi-eye" class="p-button-warning p-button-icon" routerLink="/games/update/{{game._id}}"></button>
            <button pButton type="button" icon="pi pi-fw pi-trash" class="p-button-danger  p-button-icon" (click)="handleDelete(game._id, game)"></button>
          </div>
        </td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>
</div>
